Projeto/Remember/flow-remember.json
[
    {
        "id": "c0fa27d3454ab199",
        "type": "tab",
        "label": "RememberApp",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b28fa3ad784a3809",
        "type": "http in",
        "z": "c0fa27d3454ab199",
        "name": "",
        "url": "/userDecks/:userId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "f6179225b7747b4d"
            ]
        ]
    },
    {
        "id": "09a8262ffe80730d",
        "type": "http in",
        "z": "c0fa27d3454ab199",
        "name": "",
        "url": "/communityDecks",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "b0053805dd6029f1"
            ]
        ]
    },
    {
        "id": "1450fbfd33b80e68",
        "type": "http in",
        "z": "c0fa27d3454ab199",
        "name": "",
        "url": "/createDeck",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "bb417ef292951f5a"
            ]
        ]
    },
    {
        "id": "8209b702b568f398",
        "type": "http response",
        "z": "c0fa27d3454ab199",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1090,
        "y": 220,
        "wires": []
    },
    {
        "id": "024a0bd9c0c64d95",
        "type": "http response",
        "z": "c0fa27d3454ab199",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "1641110e7bcc8750",
        "type": "cloudantplus in",
        "z": "c0fa27d3454ab199",
        "name": "",
        "cloudant": "4c9347d8fc1bc069",
        "database": "remember",
        "service": "_ext_",
        "search": "_query_",
        "design": "",
        "index": "",
        "x": 730,
        "y": 180,
        "wires": [
            [
                "b44bd8c6eca1a103"
            ]
        ]
    },
    {
        "id": "4648dab32721fbc0",
        "type": "cloudantplus in",
        "z": "c0fa27d3454ab199",
        "name": "",
        "cloudant": "4c9347d8fc1bc069",
        "database": "remember",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 590,
        "y": 240,
        "wires": [
            [
                "024a0bd9c0c64d95",
                "cede66e3c4660198"
            ]
        ]
    },
    {
        "id": "4b3d76fd3855b82f",
        "type": "http in",
        "z": "c0fa27d3454ab199",
        "name": "",
        "url": "/editDeck",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "3c9d858334586505",
                "8bb5ad110680b5ac"
            ]
        ]
    },
    {
        "id": "1da93ed53cac73c0",
        "type": "http response",
        "z": "c0fa27d3454ab199",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "3c9d858334586505",
        "type": "cloudantplus out",
        "z": "c0fa27d3454ab199",
        "name": "",
        "cloudant": "4c9347d8fc1bc069",
        "database": "remember",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 630,
        "y": 520,
        "wires": [
            [
                "1da93ed53cac73c0"
            ]
        ]
    },
    {
        "id": "f6179225b7747b4d",
        "type": "function",
        "z": "c0fa27d3454ab199",
        "name": "function 1",
        "func": "msg.payload = {\n    selector: {\n        \"userId\": msg.req.params.userId\n    },\n    fields: ['id', 'subject', 'cards', 'userId', \"_id\", \"_rev\"],\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 160,
        "wires": [
            [
                "1641110e7bcc8750"
            ]
        ]
    },
    {
        "id": "e38d9ea1187fe54f",
        "type": "debug",
        "z": "c0fa27d3454ab199",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 100,
        "wires": []
    },
    {
        "id": "283d20acb8530b70",
        "type": "http response",
        "z": "c0fa27d3454ab199",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 280,
        "wires": []
    },
    {
        "id": "90682c84c1253eb3",
        "type": "debug",
        "z": "c0fa27d3454ab199",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 400,
        "wires": []
    },
    {
        "id": "a15073078e67589a",
        "type": "http request",
        "z": "c0fa27d3454ab199",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openai.com/v1/chat/completions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 300,
        "wires": [
            [
                "8978c334ba78222c"
            ]
        ]
    },
    {
        "id": "bb417ef292951f5a",
        "type": "function",
        "z": "c0fa27d3454ab199",
        "name": "function 3",
        "func": "msg.userId = msg.payload.userId\nmsg.subject = msg.payload.msg\n\nmsg.payload = {\n    \"model\": \"gpt-3.5-turbo\",\n    \"messages\": [\n        {\n            \"role\": \"system\",\n            \"content\": \"You are a helpful assistant.\"\n        },\n        {\n            \"role\": \"user\",\n            \"content\": `create 10 flashcards about` + msg.payload.msg + \"format them like an array of JSON objects without any extra text. The labels should be 'front, 'back' and 'tip'. They should be short and concise, to fit in a card. Make them in brazilian portuguese\"\n        }\n    ]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 400,
        "wires": [
            [
                "a15073078e67589a",
                "6cb642e9ca52413a"
            ]
        ]
    },
    {
        "id": "f3a50243a3bc4dd5",
        "type": "cloudantplus out",
        "z": "c0fa27d3454ab199",
        "name": "",
        "cloudant": "4c9347d8fc1bc069",
        "database": "remember",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 830,
        "y": 300,
        "wires": [
            [
                "283d20acb8530b70",
                "90682c84c1253eb3"
            ]
        ]
    },
    {
        "id": "8978c334ba78222c",
        "type": "function",
        "z": "c0fa27d3454ab199",
        "name": "function 4",
        "func": "msg.payload = {\"cards\" : JSON.parse(msg.payload.choices[0].message.content), \"userId\": msg.userId, \"subject\": msg.subject}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 420,
        "wires": [
            [
                "f3a50243a3bc4dd5"
            ]
        ]
    },
    {
        "id": "b44bd8c6eca1a103",
        "type": "function",
        "z": "c0fa27d3454ab199",
        "name": "function 5",
        "func": "msg.payload = msg.payload.docs\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 160,
        "wires": [
            [
                "8209b702b568f398",
                "e38d9ea1187fe54f"
            ]
        ]
    },
    {
        "id": "8bb5ad110680b5ac",
        "type": "debug",
        "z": "c0fa27d3454ab199",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 580,
        "wires": []
    },
    {
        "id": "6cb642e9ca52413a",
        "type": "debug",
        "z": "c0fa27d3454ab199",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 460,
        "wires": []
    },
    {
        "id": "17e124a1de9db30e",
        "type": "http in",
        "z": "c0fa27d3454ab199",
        "name": "",
        "url": "/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 380,
        "y": 660,
        "wires": [
            [
                "1bcc9556dd3b8131"
            ]
        ]
    },
    {
        "id": "1bcc9556dd3b8131",
        "type": "cloudantplus out",
        "z": "c0fa27d3454ab199",
        "name": "",
        "cloudant": "4c9347d8fc1bc069",
        "database": "remember",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 570,
        "y": 660,
        "wires": [
            [
                "fba394a9bb0638f2"
            ]
        ]
    },
    {
        "id": "fba394a9bb0638f2",
        "type": "http response",
        "z": "c0fa27d3454ab199",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 660,
        "wires": []
    },
    {
        "id": "cede66e3c4660198",
        "type": "debug",
        "z": "c0fa27d3454ab199",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "b0053805dd6029f1",
        "type": "function",
        "z": "c0fa27d3454ab199",
        "name": "function 6",
        "func": "msg.payload = {\n    limit: 10\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            [
                "4648dab32721fbc0"
            ]
        ]
    },
    {
        "id": "a4dd2ad78e4e96c0",
        "type": "debug",
        "z": "c0fa27d3454ab199",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 460,
        "wires": []
    },
    {
        "id": "4c9347d8fc1bc069",
        "type": "cloudantplus",
        "host": "https://apikey-v2-1oyyl44w0ka2aw9z3fvb53wag6o79wi8boxf0xsbnpr:6c078caec78a17bbd953a16fff300224@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "Rafael0611",
        "useapikey": true
    }
]